body {
    margin: 0;
    color: #222222;
    height: 110vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    background-color: #e5e9f0;
}

.page-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100%;
    min-width: 400px;
    box-sizing: content-box;
    padding-right: 17px;
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

.sidebar {
    align-self: flex-start;
    text-align: center;
    height: 120%;
    width: 17%;
    background-color: #d8dee9;
    font-family: "Roboto Condensed", serif;
}
.left-sideBar {
    position: fixed;
    left: 1em;
    font-size: 1.5em;
    z-index: 2;
}
.right-sideBar {
    position: fixed;
    right: 1em;
}

.fader-left {
    position: fixed;
    left: 16vw;
    background: linear-gradient(to right, #d8dee9 0%, #e5e9f0 100%);
    width: 3%;
    height: 120%;
}

.fader-right {
    position: fixed;
    right: 16vw;
    background: linear-gradient(to right, #e5e9f0 0%, #d8dee9 100%);
    width: 3%;
    height: 120%;
}

.main {
    width: 60%;
    height: 100%;
    background-color: #e5e9f0;
    text-align: center;
    padding: 0 2% 0 2%;
}

h3, h4 {
    margin: 0;
    font-family: "Roboto Condensed", serif;
}

h1 {
    font-family: "Roboto Condensed", serif;
    margin-bottom: 5px;
}

h3 {
    font-weight: 700;
}

.inner-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.category {
    background-color: #d8dee9;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
}

.subcategory {
    width: 28%;
    text-align: center;
}

hr {
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    margin-top: 2px;
}

.item-list {
    margin-top: 2px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-side {
    float: right;
    font-size: 80%;
}

.github-link img {
    position: absolute;
    right: 20vw;
    top: 6vh;
    display: none;
    max-width: 50vw;
}

.github-link:hover img {
    display: block;
}

.full-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.full-top h3 {
    font-size: 5vw;
}
.full-top h4 {
    font-size: 4vw;
}

.half-top {
    padding: 0 1em 0 1em;
    text-align: center;
    min-width: 150px;
    
}
.devide {
    width: 1em;
}
@media screen and (min-width: 1325px) {
    .unslip {
        display: none;
    }
    .slip {
        display: block;
    }
    .main {
        width: 60%;
    } .first-slip {
        display: block;
    }
}

@media screen and (max-width: 1324px) and (min-width: 800px) {
    .unslip {
        display: none;
    }
    .slip {
        display: block;
    }
    .main {
        width: 80%;
    }
    .first-slip {
        display: none;
    }
    .left-sideBar {
        font-size: 1.7vw;
    }
}
@media screen and (max-width: 799px) {
    .slip {
        display: none;
    }
    .unslip {
        display: block;
    }
    .main {
        width: 100%;
    }
    .first-slip {
        display: none;
    }
    .left-sideBar {
        font-size: 1.7vw;
    }
}